<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            {{ block "title" . }}
            {{end}}
        </title>
        <script
            type="module"
            src="https://cdn.jsdelivr.net/gh/starfederation/datastar@1.0.0-RC.8/bundles/datastar.js"
        ></script>
        <style>
        {{block "styles" . }}
        {{end}}
        </style>
    </head>
    <div>
    <body>
        <header>
        <nav class="page-links">
            <ul>
                <a href="/customers"><li class="navbar-item">Customers</li></a>
                <a href="/products"><li class="navbar-item">Products</li></a>
                <a href="/employees"><li class="navbar-item">Employees</li></a>
                <!--<li class="navbar-item"><a href="#">Support Tickets</a></li>-->
                <a href="/orders"><li class="navbar-item">Orders</li></a>
                <a href="/reviews"><li class="navbar-item">Reviews</li></a>
                <a href="/finances"><li class="navbar-item">Finances</li></a>
                <!--<li class="navbar-item"><a href="#">Creators</a></li>-->
            </ul>
        </nav>
        </header>
        <div class="wrapper">
        <main>
        <h1>{{block "resource" . }}{{end}}s</h1>
            <div style="line-height:1.5em;">&#8202;</div>
            <table>
                <thead>
                    <tr>
                        {{block "tableHeaders" . }}{{end}}
                    </tr>
                </thead>
                <tbody>
                    {{block "tableData" . }}{{end}}
                </tbody>
            </table>
            {{block "extra" . }}{{end}}
            <p>Pages</p>
            <h2>Add a {{block "resource" . }}{{end}}</h2>
            <form method="POST" action="/{{block "resource" .}}{{end}}s">
                <div class="add-record-form">
                {{block "addResourceInputs" . }}{{end}}
                </div>
                <input type="submit" value="Submit" />
            </form>
        </main>
        <footer>
        </footer>
        <div>
    </body>
</html>
