{{define "title"}}Customers{{end}}

{{define "resource"}}customer{{end}}

{{define "searchFields"}}
<option value="customer-name">Customer Name</option>
<option value="subscriber">Subscriber</option>
<option value="cohort">Cohort</option>
{{end}}
{{define "tableHeaders"}}
<th>id</th>
<th>Customer Name</th>
<th>Subscriber</th>
<th>Cohort</th>
<th>Sign Up Date</th>
{{end}}
{{define "tableData"}}
    {{range .data}}
    <tr id="row-{{.Id}}" data-signals="{row{{.Id}}: {'id': {{.Id}}, 'customerName': '{{.CustomerName}}', 'subscriber': {{.Subscriber}}, 'cohort': '{{.Cohort}}', 'signupDate': '{{.SignupDate}}' }}">
        <td data-text="$row{{.Id}}.id"></td>
        <td data-text="$row{{.Id}}.customerName"></td>
        <td data-text="$row{{.Id}}.subscriber"></td>
        <td data-text="$row{{.Id}}.cohort"></td>
        <td data-text="$row{{.Id}}.signupDate"></td>
        <td>
            <button
                data-on:click="confirm('Are you sure?') && @delete('/customers?id={{.Id}}')"
            >
                Delete
            </button>
        </td>
        <td>
            <button data-on:click="@get('/customers/edit?id=row-{{.Id}}')">Edit</button>
        </td>
    </tr>
    {{end}}
{{end}}
{{define "addResourceInputs"}}
<label for="customer-name">Customer Name</label>
<input id="customer-name" type="text" name="customer-name" required /><br>
<label for="subscriber">Subscriber</label>
<select id="subscriber" name="subscriber">
    <option value="0">False</option>
    <option value="1">True</option>
</select> <br>
<label for="cohort">Review</label>
<select id="cohort" name="cohort">
    <option value="0">engaged prospect</option>
    <option value="1">lapsed prospect</option>
    <option value="2">one purchase</option>
    <option value="3">two or more purchases</option>
    <option value="4">VIP</option>
    <option value="5">churned</option>
</select><br>
{{end}}
