{% extends "base2.html" %}
{% block resource %}Customers {% endblock %}
{% block title %} Customers {% endblock %}
{% block content %}
<table>
  <thead>
    <tr>
      <th>id</th>
      <th>Customer Name</th>
      <th>Subscriber</th>
      <th>Cohort</th>
      <th>Sign Up Date</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    {% for i in customerRecords %}
    <tr id="{{i.Id}}" data-signals="{row{{i.Id}}: {'id': {{i.Id}}, 'customerName': '{{i.CustomerName}}', 'subscriber': '{{i.Subscriber}}', 'cohort': '{{i.Cohort}}', 'signupDate': '{{i.SignupDate}}' }}">
        <td data-text="$row{{i.Id}}.id">{{i.Id}}</td>
        <td data-text="$row{{i.Id}}.customerName">{{i.CustomerName}}</td>
        <td data-text="$row{{i.Id}}.subscriber"></td>
        <td data-text="$row{{i.Id}}.cohort">{{i.Cohort}}</td>
        <td data-text="$row{{i.Id}}.signupDate">{{i.SignupDate}}</td>
        <td>
            <button
                data-on:click="confirm('Are you sure?') && @delete('/customers?id={{i.Id}}')"
            >
                Delete
            </button>
        </td>
        <td>
            <button data-on:click="@get('/customers/edit?id={{i.Id}}')">Edit</button>
        </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
<h2>Marketing Analysis</h2>
  <table>
    <thead>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>lifetime value</th>
      <th>number of orders</th>
      <th>Net profit from Customer</th>
    </tr>
    </thead>
    <tbody>
  {% for i in rfm %}
    <tr>
      <td>{{i.Id}}</td>
      <td>{{i.CustomerName}}</td>
      <td class="currency">{{i.LifetimeValue}}</td>
      <td>{{i.NumberOfOrders}}</td>
      <td class="currency">{{i.NetProfit}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
  <h2>Add a Customer</h2>
  <form method="POST" action="/customers">
   <div class="add-record-form">
    <div class="add-record-form-label">
      <label for="customer-name">Customer Name</label><br>
      <label for="subscriber">Subscriber</label><br>
      <label for="cohort">Cohort</label><br>
    </div>
    <div class="add-record-form-input">
      <input id="customer-name" type="text" name="customer-name" required /><br>
      <select id="subscriber" name="subscriber">
          <option value="0">False</option>
          <option value="1">True</option>
      </select> <br>
      <select id="cohort" name="cohort">
          <option value="1">engaged prospect</option>
          <option value="2">lapsed prospect</option>
          <option value="3">one purchase</option>
          <option value="4">two or more purchases</option>
          <option value="5">VIP</option>
          <option value="6">churned</option>
      </select><br>
    </div>
    </div>
    <input type="submit" value="Submit" />
  </form>
{% endblock %}
