{{define "title"}}Employees{{end}} {{define "resource"}}employee{{end}} {{define
"tableHeaders"}}
<th>Employee ID</th>
<th>Employee Name</th>
<th>Job Title</th>
<th>Department</th>
<th>Days Since Starting</th>
<th>Phone</th>
<th>Company Email</th>
{{end}} {{define "tableData"}} {{range .data}}
<tr id="row-{{.ID}}">
    <td data-bind:id>{{.Id}}</td>
    <td data-bind:employee-name>{{.EmployeeName}}</td>
    <td data-bind:job-title>{{.JobTitle}}</td>
    <td data-bind:department>{{.Department}}</td>
    <td data-bind:days-since-starting>{{.DaysSinceStarting}}</td>
    <td data-bind:phone>{{.Phone}}</td>
    <td data-bind:company-email>{{.CompanyEmail}}</td>
    <td>
        <button
            data-on:click="confirm('Are you sure?') && @delete('/employees?id={{.Id}}')"
        >
            Delete
        </button>
    </td>
    <td>
        <button data-on:click="@patch('/employees?id={{.Id}}')">Edit</button>
    </td>
</tr>
{{end}} {{end}} {{define "addResourceInputs"}}
<label for="employee-name">Employee Name</label>
<input id="employee-name" type="text" name="employee-name" required />
<label for="job-title">Job Title</label>
<input id="job-title" type="text" name="job-title" required />
<label for="department">Department</label>
<input id="department" type="text" name="department" required />
<label for="department">Department</label>
<input id="department" type="text" name="department" required />
<label for="phone">Phone</label>
<input id="phone" type="tel" name="phone" required />
<label for="company-email">Company Email</label>
<input id="company-email" type="email" name="company-email" required />
{{end}}
