{% extends "base2.html" %}
{% block resource %}Employee{% endblock %}
{% block title %} Employees {% endblock %}
{% block content %}
<table>
  <thead>
  <tr>
    <th>Employee ID</th>
    <th>Employee Name</th>
    <th>Job Title</th>
    <th>Department</th>
    <th>Start Date</th>
    <th>Phone</th>
    <th>Company Email</th>
    <th>Salary</th>
  </tr>
  </thead>
  <tbody>
    {% for i in employeeRecords %}
    <tr id="{{i.Id}}" data-signals="{row{{i.Id}}: {'id': {{i.Id}}, 'employeeName': '{{i.EmployeeName}}', 'jobTitle': '{{i.JobTitle}}', 'department': '{{i.Department}}', 'startDate': '{{i.StartDate}}', 'phone': '{{i.Phone}}', 'email': '{{i.Email}}', 'salary': {{i.Salary}} } }">
        <td data-text="$row{{i.Id}}.id"></td>
        <td data-text="$row{{i.Id}}.employeeName"></td>
        <td data-text="$row{{i.Id}}.jobTitle"></td>
        <td data-text="$row{{i.Id}}.department"></td>
        <td data-text="$row{{i.Id}}.startDate"></td>
        <td data-text="$row{{i.Id}}.phone"></td>
        <td data-text="$row{{i.Id}}.email"></td>
        <td class="currency">{{i.Salary}}</td>
        <td>
            <button
                data-on:click="confirm('Are you sure?') && @delete('/employees?id={{i.Id}}')"
            >
                Delete
            </button>
        </td>
        <td>
            <button data-on:click="@get('/employees/edit?id={{i.Id}}')">Edit</button>
        </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<h2>
  Add an Employee
</h2>
<div class="add-record-form">
<form method="POST" action="/employees?form=employee">
<div class="add-record-form-label">
  <label for="employee-name">Employee Name</label><br />
  <label for="job-title">Job Title</label><br />
  <label for="department">Department</label><br />
  <label for="start-date">Start Date</label><br />
  <label for="phone">Phone</label><br />
  <label for="email">Company Email</label><br />
  <label for="salary">Salary</label>
</div>
<div class="add-record-form-input">
  <input id="employee-name" type="text" name="employee-name" required /><br />
  <input id="job-title" type="text" name="job-title" required /><br />
  <input id="department" type="text" name="department" required /><br />
  <input id="start-date" type="date" name="start-date" required /><br />
  <input id="phone" type="tel" name="phone" required /><br />
  <input id="email" type="email" name="email" required /><br />
  <input id="salary" type="number" name="salary" required />
</div>
<input type="submit" value="Submit" />
</form>
</div>
{% endblock %}
