{{define "title"}}Employees{{end}}

{{define "resource"}}employee{{end}}

{{define "searchFields"}}
<option value="employee-name">Employee Name</option>
<option value="job-title">Job Title</option>
<option value="department">Department</option>
<option value="start-date">Start Date</option>
{{end}}

{{define "tableHeaders"}}
<th>Employee ID</th>
<th>Employee Name</th>
<th>Job Title</th>
<th>Department</th>
<th>Start Date</th>
<th>Phone</th>
<th>Company Email</th>
<th>Salary</th>
{{end}}

{{define "tableData"}}
    {{range .data}}
    <tr id="row-{{.Id}}" data-signals="{row{{.Id}}: {'id': {{.Id}}, 'employeeName': '{{.EmployeeName}}', 'jobTitle': '{{.JobTitle}}', 'department': '{{.Department}}', 'startDate': '{{.StartDate}}', 'phone': '{{.Phone}}', 'email': '{{.Email}}', 'salary': {{.Salary}} } }">
        <td data-text="$row{{.Id}}.id"></td>
        <td data-text="$row{{.Id}}.employeeName"></td>
        <td data-text="$row{{.Id}}.jobTitle"></td>
        <td data-text="$row{{.Id}}.department"></td>
        <td data-text="$row{{.Id}}.startDate"></td>
        <td data-text="$row{{.Id}}.phone"></td>
        <td data-text="$row{{.Id}}.email"></td>
        <td data-text="$row{{.Id}}.salary"></td>
        <td>
            <button
                data-on:click="confirm('Are you sure?') && @delete('/employees?id={{.Id}}')"
            >
                Delete
            </button>
        </td>
        <td>
            <button data-on:click="@get('/employees/edit?id={{.Id}}')">Edit</button>
        </td>
    </tr>
    {{end}}
{{end}}

{{define "addResourceInputs"}}
<label for="employee-name">Employee Name</label>
<input id="employee-name" type="text" name="employee-name" required /><br />
<label for="job-title">Job Title</label>
<input id="job-title" type="text" name="job-title" required /><br />
<label for="department">Department</label>
<input id="department" type="text" name="department" required /><br />
<label for="phone">Phone</label>
<input id="phone" type="tel" name="phone" required /><br />
<label for="email">Company Email</label>
<input id="email" type="email" name="email" required />
{{end}}
