{{define "title"}}Orders{{end}} {{define "resource"}}order{{end}} {{define
"tableHeaders"}}
<th>Order ID</th>
<th>Customer ID</th>
<th>Product ID</th>
<th>Quantity</th>
<th>Total</th>
<th>Progress</th>
{{end}} {{define "tableData"}} {{range .data}}
<tr id="row-{{.ID}}">
    <td data-bind:id>{{.ID}}</td>
    <td data-bind:customer-id>{{.CustomerID}}</td>
    <td data-bind:product-id>{{.ProductID}}</td>
    <td data-bind:quantity>{{.Quantity}}</td>
    <td data-bind:total>{{.Total}}</td>
    <td data-bind:progress>{{.Progress}}</td>
    <td>
        <button
            data-on:click="confirm('Are you sure?') && @delete('/orders?id={{.ID}}')"
        >
            Delete
        </button>
    </td>
    <td>
        <button data-on:click="@patch('/orders?id={{.ID}}')">Edit</button>
    </td>
</tr>
{{end}} {{end}} {{define "addResourceInputs"}}
<label for="customer-id">Customer ID</label>
<input id="customer-id" type="number" name="customer-id" required />
<label for="product-id">Product ID</label>
<input id="product-id" type="number" name="product-id" required />
<label for="quantity">Quantity</label>
<input id="quantity" type="number" name="quantity" required />
{{end}}
