{% extends "base2.html" %}
{% block resource %}Review{% endblock %}
{% block title %} Reviews {% endblock %}
{% block content %}
<table>
  <thead>
  <tr>
    <th>Order ID</th>
    <th>Rating</th>
    <th>Review</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
    {% for i in reviewRecords %}
    <tr id="row-{{i.OrderId}}">
        <td data-bind:order-id>{{i.OrderId}}</td>
        <td data-bind:rating>{{i.Rating}}</td>
        <td data-bind:review>{{i.Review}}</td>
        <td>
            <button
                data-on:click="confirm('Are you sure?') && @delete('/reviews?id={{i.OrderId}}')"
            >
                Delete
            </button>
        </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<h2>
  Add an Review
</h2>
<div class="add-record-form">
<form method="POST" action="/reviews">
    <div class="add-record-form-label">
      <label for="order-id">Order ID</label><br>
      <label for="rating">Rating</label><br>
      <label for="review">Review</label>
    </div>
    <div class="add-record-form-input">
      <select id="order-id" name="order-id" required>
      {% for i in orderInformationRecords %}
      <option value="{{i.OrderId}}">Order {{i.OrderId}} - {{i.CustomerName}}</option>
      {% endfor %}
      </select><br />
      <input id="rating" type="number" min="1" max="5" name="rating" required /><br />
      <input id="review" type="text" name="review" required /><br>
    </div>
    <input type="submit" value="Submit" />
  </form>
</div>
{% endblock %}
