/*{#{{define "styles"}}#}*/
/*{% block styles %}*/
/*{% extends `/templates/finances.html' %}*/
body {
    --light-bg-color: lightblue;
    --dark-bg-color: darkslategrey;
}
body {
    background-color: lightblue;
    margin: 0 auto;
    text-align: center;
    font-family: sans-serif;
}

table {
    border: 1px solid;
    text-align: center;
    margin: 0 auto;
}

th {
    max-width: 6em;
    padding: 1em;
}

td {
    border: 1px solid;
    padding: 1em;
}

.page-links {
    background: turquoise;
    margin: 0;
}

input {
    margin: 1em 0;
    align-items: center;
}

.navbar-item {
    display: inline-flex;
    flex-grow: 1;
    padding: 1.5em 0.5em;
}

.navbar-item:hover {
    background: darkblue;
}

.add-record-form {
    border: 1px solid;
}

a {
    text-decoration: none;
}
a:hover {
    color: white;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    body {
        background: darkslategrey;
        color: lightblue;
    }
    a:hover {
        background: lightblue;
        color: black;
        text-decoration: none;
    }
    .navbar-item:hover {
        background: lightblue;
    }
}

.add-record-form {
    display: table;
    margin: 0 auto;
    padding: 1em;
}

.add-record-form-label {
    display: table-cell;
    width: 50%;
    text-align: right;
    padding-right: 1em;
}
.add-record-form-label label {
    line-height: 3em;
}
.add-record-form-input {
    display: table-cell;
    width: 50%;
    text-align: left;
}

form select {
    margin: 0.93333em 0;
}
.debit-account {
    position: relative;
    bottom: 0.7em;
    border: none;
}

.credit-account {
    position: relative;
    top: 0.7em;
    border: none;
}

.debit {
    position: relative;
    bottom: 0.7em;
    border: none;
}

.credit {
    position: relative;
    top: 0.7em;
    border: none;
}
/*{% endblock %}*/
/*{#{{end}}#}*/
